@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dynamic-vh: 100vh;
}

@supports (height: 100dvh) {
  :root {
    --dynamic-vh: 100dvh;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-gradient-polaroid {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 10.71%,
      rgba(255, 255, 255, 0.5) 57.96%,
      rgba(255, 255, 255, 0) 100%
    ),
    #ececec;
}
