.moveable-control {
  width: 24px !important;
  height: 24px !important;
  margin-top: -12px !important;
  margin-left: -12px !important;
  background-color: #000 !important;
  border: none !important;
  background-image: url('/icons/size.svg') !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: contain !important;
}

.moveable-line {
  background: #000 !important;
}

.moveable-line.moveable-rotation-line,
.moveable-control.moveable-rotation-control,
.moveable-control.moveable-origin {
  display: none !important;
}
